/* ---------------------------------------------------------------------------------------> CARD 1 */

.agregarTareas-card {
    background: #000000;
    border-radius: 0px 30px 0px 30px;
    color: white;

    padding: 20px 20px 15px 20px;
    margin: 15px 21px 12px 21px;

    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .titulo {
        font-size: 36px;
        letter-spacing: 1px;
        font-family: "Krona one", sans-serif;
    }

    /* Input y button "+" */
    .inputAndbtn {
        display: flex;
        flex-wrap: wrap;

        .agregar-tarea-input {
            flex-grow: 1;
            padding: .8rem;
            border: 0;
            border-radius: 5px 0px 0px 20px;
            outline: none;
            transition: .3s;
            font-size: 10px;
            font-family: "Krona One", sans-serif;
        }
        
        .agregar-tarea-input::placeholder  {
            flex-wrap:wrap;
        }
        
        .agregar-tarea-submit {
            padding: 0 3rem;
            border: 0;
            background-color: #FD5503;
            color: rgb(56, 56, 56);
            border-radius: 0px 5px 5px 0px;
            font-size: 30px;
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .agregar-tarea-submit:hover {
            background-color: rgb(53, 49, 49);
            color: #FD5503;
        }
    }
}

/* ------------------------------------------------------------------------------------->      CARD 2       */

.resumen-t-card {
    min-height: 75%;
    background-image: linear-gradient(#000000,#3949D9);
    border-radius: 30px;
    margin: 15px 21px 15px 21px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.40fr 1fr;

    
    .resumenDeT-txt {
        color: white;
        display: flex;
        flex-direction: column;
        padding: 17px 20px 0px 22px;

        font-size: 12px;
        letter-spacing: 1px;
        font-family: "Krona one", sans-serif;
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .tareas-cp {
        color: rgb(0, 0, 0);
        text-align: center;
        display: flex;
        padding: 0px 12px 10px 12px;
        grid-column: 1/1;
        grid-row: 2/3;

        .tarea-c {
            font-family: "Goldman", sans-serif;
            background-image: linear-gradient(#3949D9, #FFFFFF);
            border-radius: 10px 10px 10px 25px;
            width: 100%;
            margin-right: 6px;

            .tarea-c, h2 {
                padding-top: 15px;
                font-size: 100px;
            }
            .tarea-c, h3 {
                font-size: 11px;
            }
        }

        .tarea-p {
            font-family: "Goldman", sans-serif;
            background-image: linear-gradient(#3949D9, #FFFFFF);;
            border-radius: 10px 10px 25px 10px;
            width: 100%;
            margin-left: 6px;

            .tarea-p, h2 {
                padding-top: 15px;
                font-size: 100px;
                
            }
            .tarea-p, h3 {
                font-size: 11px;
            }
        }
    }
}
