@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

